/* Styles für das Spiel und das Scoreboard */

.game-container {
  position: relative;
}

.player {
  position: absolute;
}

.player-name {
  position: absolute;
  top: -20px; /* Position über dem Spieler */
  left: 0;
  font-size: 12px;
}

.player-score {
  position: absolute;
  top: -40px; /* Position über dem Spieler */
  left: 0;
  font-size: 12px;
}

.obstacle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #e74c3c;
}
/* Weitere Styles hier */

